{
    'presets' : ['env','stage-0'],
    "ignore": [
        "./src/lib/mui/js/mui.min.js",
        "./src/lib/mui/js/mui.js"
      ]
    // "plugins": [
    //     ["transform-strict-mode", {
    //       "strict": false
    //     }]
    //   ]

}